/* Created by: Lamees Hemdan
* Created on: Feb 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
  color: beige;
}

.mdl-layout__content {
  padding-left: 100 pt;
  padding-top: 50 pt;
  padding-right: 40 pt;
  color: beige;
  text-align: center;
}

.mdl-texfield__error {
  color: cadetblue;
}

.page-content {
  color: cornsilk;
  font-family: fantasy;
  font-size: 4 rem;
  padding-left: 100 px;
}

body {
  background-color: burlywood;
  padding-left: 100 px;
  font-size: medium;
}

p {
  padding-left: 100 px;
  font-family: cursive;
  font-size: large;
  text-align: center;
}

h3 {
  font-size: xx-large;
  font-family: fantasy;
  color: darkorange;
}

li {
  font-size: large;
  font-family: cursive;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}

h2 {
  text-underline-position: auto;
  text-align: center;
  color: brown;
}
